* {
    padding: 0;
    margin: 0;
}

body {
    height: 98vh;
    padding: 1vh;
    background-color: black;
}

.home {
    text-decoration: none;
    color: black;
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}

.home:hover,
.home:focus {
    background-color: pink;
}

.images {
    width: 8vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, minmax(1fr, 500px));
    grid-template-rows: repeat(9, 10vh);
    grid-template-areas: 
        "topbar     topbar      topbar"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "mainbox    mainbox     mainbox"
        "footer     footer      footer";
    gap: 1vh;
}

.box {
    background-color: gray;
    border-radius: 5px;
}

.abox {
    background-color: lightcoral;
    border: 1px solid black;
}

.main {
    grid-area: mainbox;
    overflow-y: scroll;
}

.topbar {
    grid-area: topbar;

    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}

.updates {
    grid-area: mainbox;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 10px;
    padding: 10px;
}

.footer {
    grid-area: footer;
}

/* links */
li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    color: magenta;
}

/* faq */
.faq-cap {
    text-align: center;
    font-size: 1.5rem;
    margin: 0.5em 0 0.5em 0;
}

.faq {
    /* background: white; */
    display: grid;
    grid-template-rows: 3em 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
}

.faq-question-links {
    display: grid;
    text-align: center;
    gap: 0.5em;
}

.qa-container {
    display: grid;
    height: 95%;
    padding: 5%;
    grid-template-rows: 6em 1fr 1fr;
    grid-template-columns: 1fr;
}

.qs-box {
    justify-self: center;
    align-self: center;
}

.menu-container {
    display: grid;
    align-items: center;
}

.return-home {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.return-home-img {
    width: 100%;
}

/* ============= */
/* meetings */
/* ============= */

.meeting-box {
    display: grid;
    justify-items: center;
}

.meeting-box__title {
    padding-top: 10px;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid black;
}

.meeting-box__agenda {
    display: grid;
    justify-items: center;
    padding-top: 10px;
}

.meeting-box__agenda > ul {
    display: grid;
    justify-items: center;
}

.meeting-box__when2meet {
    display: grid;
    justify-items: center;
    padding-top: 10px;
}

.meeting-box__topic-form {
    display: grid;
    justify-items: center;
    padding-top: 10px;
}

.meeting-box__topic-form > textarea {
    background: lightgrey;
    width: 80%;
    height: 50px;
    margin: 10px;
    border-radius: 5px;
    outline: none;
}

.meeting-box__topic-form > button {
    background: lightgrey;
    width: 75px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
}

/* ============= */
/* complaint form */
/* ============= */

.complaint-form {
    display: grid;
    justify-items: center;
    text-align: center;
}

.complaint-form > h2 {
    border-bottom: 1px solid black;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.complaint-form > p {
    margin-bottom: 10px;
}

.complaint-form > input[type="text"] {
    width: 80%;
}

.complaint-form > input[type="submit"] {
    margin-top: 10px;
    background: lightgrey;
    width: 75px;
    height: 25px;
    border-radius: 10px;
    border: 1px solid black;
}

/* footer */
.footer {
    display: grid;
    align-items: center;
    justify-items: center;
}

/* stop from extending width infinitely */
@media (min-width: 1000px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .return-home-img {
        width: 100px;
    }
}